$font-family: 'Montserrat', sans-serif;
$gray-light: #edf0f6;
$gray-dark: #8d8f92;
$text-gray-dark:#858d9d;
$text-gray-black: #393a3c;
$dark-color: #343a40;
$active-color: #ec1213;
$pill-radius: 30px;

body {
  font-family: $font-family;
}

.header {
  background-color: #fff;

  &__search .form-control {
    background-color: $gray-light;
    border: none;
    border-radius: $pill-radius;
    padding: 0.375rem 1rem;
    min-width: 250px;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
  .first-row {
    margin-bottom: 32px!important;
  }
  .logo-top {
    width: 134px;
    height: 116px;
  }
  .form-control {
    height: 50px;
    max-width: 576px;
    font-weight: 400;
    font-size: 14px;
    color: $gray-dark;
    background: $gray-light;
   margin-right: 20px;
    padding-left: 47px!important;

  }


  .search-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;


    .search-icon {
      position: absolute;
      top: 50%;
      left: 21px;
      transform: translateY(-50%);
      pointer-events: none;
    }

    .form-control {
      padding-left: 2rem;

      border: none;
      border-radius: 30px;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .social-links {
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;
  }

  .social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $gray-light;
    text-decoration: none;
    cursor: pointer;

    .icon {
      transition: 0.3s;
      .bg {
        transition: fill 0.3s;
      }
      .arrow {
        transition: fill 0.3s;
      }
    }

    &:hover {
      .bg {
        fill: #EC1213; // красный фон
      }
      .arrow {
        fill: #fff;
      }
    }
  }

  .lang-select {
    min-width: 116px!important;
    width:116px;
    height: 50px;
  }


  .city-select,
  .lang-select {
    cursor:pointer;
    background-color: $gray-light;
    border: none;
    border-radius: $pill-radius;
    font-weight: 500;
    padding-right: 2rem;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .custom-select {
    cursor:pointer;
    position: relative;
    display: inline-flex;
    align-items: center;

    .city-select {
      background: transparent;
      font-size: 14px;
      font-weight: 500;
      color: $text-gray-black;
      max-width: 180px;
      height: 50px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;


      background-color: $gray-light;
      border: none;
      border-radius: 30px;
      padding-left: 56px;
      padding-right: 38px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    &__icon {
      position: absolute;
      left: 20px;
      pointer-events: none;

      svg {
        width: 15px;
        height: auto;

      }
    }

    &__arrow {
      position: absolute;
      right: 19px;
      pointer-events: none;

      svg {
        width: 9px;
        height: auto;
        transition: transform 0.3s ease;
      }
    }
    &:focus-within .custom-select__arrow svg {
      transform: rotate(180deg);
    }
  }





  &__nav {
    .nav-item {
      padding-right: 50px;
    }
    .nav-link {
      font-weight: 600;
      font-size: 20px;
      color: $text-gray-dark;
      padding: 0;
      cursor:pointer;

      &:hover {

        color: $active-color !important;

      }
    }
  }
}


/*Секция фильтров*/

.btn-date-filter {
  background: #fff;
  border: none;
  border-radius: 30px;
  padding: 13px 16px;

  box-shadow: none;
  min-width: 172px;
  font-weight: 500;
  font-size: 14px;
  color: #8d8f92;
  svg {
    margin-right: 10px;
  }
}

.date-separator {
  display: inline-block;
  width: 36px;
  height: 0;
  border-top: 1px solid #8d8f92;
  margin: 0 10px;
}

.date-filter-menu {
  min-width: 280px;
}

.date-filter__picker {
  display: none;
  width: 100%;
  border-radius: 8px;
}


.search-filters {
  .custom-select {
    cursor:pointer;
    position: relative;
    display: inline-flex;
    align-items: center;


    .city-select {
      background: transparent;
      font-size: 14px;
      font-weight: 500;
      color: $text-gray-black;
      max-width: 180px;
      height: 50px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;


      background-color: $gray-light;
      border: none;
      border-radius: 20px 20px 0 0;
      padding-left: 56px;
      padding-right: 38px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .quantity-select{

      background: transparent;

      font-size: 14px;
      font-weight: 500;

      max-width: 180px;
      height: 50px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      background-color: #fff;
      border: none;





      border-radius: 30px;
      padding: 16px 49px;

      box-shadow: none;
      min-width: 172px;

      color: #8d8f92;
      svg {
        margin-right: 10px;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    &__icon {
      position: absolute;
      left: 20px;
      pointer-events: none;

      svg {
        width: 15px;
        height: auto;

      }
    }

    &__arrow {
      position: absolute;
      right: 19px;
      pointer-events: none;

      svg {
        width: 9px;
        height: auto;
        transition: transform 0.3s ease;
      }
    }
    &:focus-within .custom-select__arrow svg {
      transform: rotate(180deg);
    }
  }
  .filter-item-quantity {
    margin-left: 19px;
  }

}

.search-filters .city-select select {
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background: #edf0f6;
  border-radius: 20px 20px 0 0;
}



.filters-form {
  background: #edf0f6;
  border-radius: 0 20px 0 0;
  padding: 25px 40px 25px 19px;
}

.filter-item select,
.filter-item input {
  border: none;
  font-size: 14px;
  padding: 10px 15px;
  color: #555;
}

.filter-item select:focus,
.filter-item input:focus {
  outline: none;
  box-shadow: none;
}

.btn-danger {

  border: none;
  padding: 19px 29px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  background: #ec1213;
}

/*СЕКЦИЯ КАРТОЧЕК*/
.travel {
  &__title {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 36px;
    color: #858d9d;
    margin-bottom: 39px;
    margin-top: 80px;
  }
}

.travel-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    transition: transform 0.3s ease;
  }

  &__label {
    position: absolute;
    bottom: 27px;
    left: 0px;
    right: 74px;

    border-radius: 0 20px 20px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
    padding: 23px 0px 23px 30px;
    width: 100%;
    max-width: 75%;
  }

  &:hover {
    box-shadow: 0 0 20px rgba(0, 195, 255, 0.6); // голубая подсветка
  }


}

// Цвета для лейблов
.bg-red {
  background-color:  #c8102e;
}
.bg-blue {
  background-color:  #00bfff;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0.6); // чёрный с 60% прозрачностью
}
.bg-dark {

  background-color: #040a0d;
}

/*Секция comfort*/

.comfort {
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    font-size: 36px;
    color: #858d9d;
    margin-bottom: 39px;
  }

  .nav-pills .nav-link {
    border-radius: 20px 20px 0 0;
    background: rgba(237, 240, 246, 0.5);
    margin: 0 5px;
    font-weight: 700;
    font-size: 14px;
    color: #858d9d;
    padding: 14px 20px;
    margin: 0;

    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: rgba(41, 42, 47, 0.2);

    &.active {
      background: #edf0f6;
      color: #858d9d;
      text-decoration: none;
    }
  }
  .carousel-item {
    height: 100%!important;
    min-height: 420px;
  }
  .carousel-inner {
    border-radius:  0 0 0 20px;
  }
  .tab-content-text {
    padding: 113px 75px;
    background: #edf0f6;
    border-radius: 0 20px 20px 0;
    h3 {
      font-weight: 600;
      font-size: 32px;
      color: #858d9d;
      margin-bottom: 45px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 157%;
      color: #858d9d;
      margin-bottom: 0;
    }
  }

  .carousel-inner img {
    object-fit: cover;
    height: 100%;
    min-height: 420px;
  }
/*
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);
  }
*/

  .carousel-control-next-icon {
    background-image: url("img/next.svg");
    background-size: 12px 12px;
  }
  .carousel-control-prev-icon {
    background-image: url("img/prev.svg");
    background-size: 12px 12px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {

    border-radius: 50%;
    color: #fff;
    border: 1.5px solid #fff;
    background-repeat: no-repeat;
    background-position: center;


    width: 24px;
    height: 24px;
  }
  .carousel-control-prev {
    top: auto;
    left: 20px;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 38px;
    border-radius:  50%  0 0 50%;
    height: 36px;
    opacity: 1;
  }
  .carousel-control-next{
    top: auto;
    left: 58px;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 38px;
    border-radius: 0 50% 50% 0;
    height: 36px;
    opacity: 1;
  }
}


/*Секция features*/
.features {
  padding-top: 80px;
  padding-bottom: 110px;
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #858d9d;
    text-align: left;
  }
}

.feature-item {
  text-align: center;

  &__icon {
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-bottom:  33px;
    border-radius: 50%;
    background: #d3d9e5;
    display: flex;
    align-items: center;
    justify-content: center;


    svg {
      width: 40px;
      height: 40px;
    }
  }

  &__text {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #858d9d;
    margin: 0;
  }
}
/*секция attraction*/
.attractions {
  max-width: 1920px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
}

.section-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #858d9d;
  margin-bottom: 30px;
}

.attractions-swiper {
  overflow: visible; /* позволяет видеть обрезанные слайды */
}

.swiper-slide {
  width: 640px; /* два слайда занимают 1280px */
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.attraction-card {
  position: relative;
  width: 100%;
  height: 100%;
}

.attraction-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 100%);
  color: #fff;
}

.card-overlay h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-overlay p {
  font-size: 14px;
  margin-bottom: 20px;
}

.card-overlay button {
  background: #e30613;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

/* Кнопки навигации */
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.6);
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px;
  color: #fff;
}
.attractions-swiper {
  max-width: 1920px;
  overflow: hidden;
}
.swiper-slide {
  width: 630px !important; /* фикс ширина слайда */
}

/*Секция about*/

.about {
  padding-top: 40px;
  padding-bottom: 80px;
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #858d9d;
    margin-bottom: 39px;
  }

  &__img {
    object-fit: cover;

    border-radius:  20px 0 0 20px ;
  }

  &__content {
    background-color: #f1f4f9; // светло-серый фон
    border-radius:  0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 75px 70px 85px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 157%;
      color: #050505;
      text-align: left;
    }
  }

  &__logo {
    margin-right: auto;
    margin-bottom: 32px;
    max-height: 115px;
    width: auto;
  }
}



/*Contact*/
.contact {
  margin-bottom: -203px;
  position: relative;
  z-index: 2;
  &__title {
    font-weight: 600;
    font-size: 36px;
    color: #858d9d;
    margin-bottom: 39px;
  }

  &__form-wrapper {
    padding: 50px 40px;

    border-radius: 20px;
    background: #fff;
    box-shadow: 0 10px 23px 0 rgba(0, 0, 0, 0.1), 0 41px 41px 0 rgba(0, 0, 0, 0.09), 0 92px 55px 0 rgba(0, 0, 0, 0.05), 0 164px 66px 0 rgba(0, 0, 0, 0.01), 0 257px 72px 0 rgba(0, 0, 0, 0);

  }
  .form-floating {
    label {
      color: rgba(41, 47, 56, 0.7);
      font-weight: 400;
      font-size: 16px;
    }
  }

  .form-control {
    border-radius: 6px;
    padding: 20px;
    border: 1px solid #ebebeb;
    color: #292a2f;
    font-weight: 400;
    font-size: 16px;
    color: rgba(41, 47, 56, 0.7);


    &:focus {
      box-shadow: none;
    }
  }

  textarea.form-control {
    resize: none;
  }

  &__btn {
    border-radius: 20px;
    background: #ec1213;
    border: none;
    padding: 16px 64px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-right: 23px;

    &:hover {
      background: #c60f10;
    }
  }
}

/*Map*/
.map-container {
  position: relative;
  width: 100%;
  height: 600px;
}
.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(100%);
}
.marker {
  position: absolute;
  transform: translate(-50%, -100%);
  width: 40px;
  cursor: pointer;
}
/*Footer*/
.footer {


  &__logo {


    margin-right: 78px;

    img {
      height: 78px;
    }
  }

  &__nav a {

    text-decoration: none!important;
    font-weight: 600;
    font-size: 20px;
    color: #858d9d;

    &:hover {
      color: $active-color !important;
    }
  }
  &__link {
    margin-right: 50px;
  }
  .social-links {


    gap: 10px;
  }

  .social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $gray-light;
    text-decoration: none;
    cursor: pointer;

    .icon {
      transition: 0.3s;
      .bg {
        transition: fill 0.3s;
      }
      .arrow {
        transition: fill 0.3s;
      }
    }

    &:hover {
      .bg {
        fill: #EC1213; // красный фон
      }
      .arrow {
        fill: #fff;
      }
    }
  }

  &__bottom {
    font-size: 14px;
    color: #adb5bd;
  }

  &__policy {
    color: #adb5bd;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}