@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #fff;
}
.header__search .form-control {
  background-color: #edf0f6;
  border: none;
  border-radius: 30px;
  padding: 0.375rem 1rem;
  min-width: 250px;
}
.header__search .form-control:focus {
  box-shadow: none;
  outline: none;
}
.header .first-row {
  margin-bottom: 32px !important;
}
.header .logo-top {
  width: 134px;
  height: 116px;
}
.header .form-control {
  height: 50px;
  max-width: 576px;
  font-weight: 400;
  font-size: 14px;
  color: #8d8f92;
  background: #edf0f6;
  margin-right: 20px;
  padding-left: 47px !important;
}
.header .search-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
.header .search-wrapper .search-icon {
  position: absolute;
  top: 50%;
  left: 21px;
  transform: translateY(-50%);
  pointer-events: none;
}
.header .search-wrapper .form-control {
  padding-left: 2rem;
  border: none;
  border-radius: 30px;
}
.header .search-wrapper .form-control:focus {
  box-shadow: none;
  outline: none;
}
.header .social-links {
  margin-left: 20px;
  margin-right: 20px;
  gap: 10px;
}
.header .social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #edf0f6;
  text-decoration: none;
  cursor: pointer;
}
.header .social-link .icon {
  transition: 0.3s;
}
.header .social-link .icon .bg {
  transition: fill 0.3s;
}
.header .social-link .icon .arrow {
  transition: fill 0.3s;
}
.header .social-link:hover .bg {
  fill: #EC1213;
}
.header .social-link:hover .arrow {
  fill: #fff;
}
.header .lang-select {
  min-width: 116px !important;
  width: 116px;
  height: 50px;
}
.header .city-select,
.header .lang-select {
  cursor: pointer;
  background-color: #edf0f6;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  padding-right: 2rem;
}
.header .city-select:focus,
.header .lang-select:focus {
  box-shadow: none;
  outline: none;
}
.header .custom-select {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.header .custom-select .city-select {
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #393a3c;
  max-width: 180px;
  height: 50px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #edf0f6;
  border: none;
  border-radius: 30px;
  padding-left: 56px;
  padding-right: 38px;
}
.header .custom-select .city-select:focus {
  outline: none;
  box-shadow: none;
}
.header .custom-select__icon {
  position: absolute;
  left: 20px;
  pointer-events: none;
}
.header .custom-select__icon svg {
  width: 15px;
  height: auto;
}
.header .custom-select__arrow {
  position: absolute;
  right: 19px;
  pointer-events: none;
}
.header .custom-select__arrow svg {
  width: 9px;
  height: auto;
  transition: transform 0.3s ease;
}
.header .custom-select:focus-within .custom-select__arrow svg {
  transform: rotate(180deg);
}
.header__nav .nav-item {
  padding-right: 50px;
}
.header__nav .nav-link {
  font-weight: 600;
  font-size: 20px;
  color: #858d9d;
  padding: 0;
  cursor: pointer;
}
.header__nav .nav-link:hover {
  color: #ec1213 !important;
}

/*Секуи банера*/
.banner-section .carousel-control-next-icon {
  background-image: url("img/next.svg");
  background-size: 20px 20px;
}
.banner-section .carousel-control-prev-icon {
  background-image: url("img/prev.svg");
  background-size: 20px 20px;
}
.banner-section .carousel-control-next-icon, .banner-section .carousel-control-prev-icon {
  border-radius: 50%;
  color: #fff;
  border: 1.5px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}
.banner-section .carousel-control-prev {
  top: auto;
  left: 0;
  bottom: 50%;
  background: rgba(0, 0, 0, 0.7);
  width: 100px;
  border-radius: 0 99px 99px 0;
  height: 80px;
  opacity: 1;
}
.banner-section .carousel-control-next {
  top: auto;
  right: 0;
  bottom: 50%;
  background: rgba(0, 0, 0, 0.7);
  width: 100px;
  border-radius: 99px 0 0 99px;
  height: 80px;
  opacity: 1;
}

#heroCarousel {
  height: 780px; /* на всю высоту экрана */
}

#heroCarousel .carousel-item img {
  object-fit: cover;
  height: 780px;
}

.banner-overlay {
  position: relative;
  border-radius: 0 20px 20px 0;
  color: #fff;
  max-width: 450px;
  padding: 58px 58px 58px 0;
}
.banner-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  width: 100vw;
  z-index: 0;
}
.banner-overlay h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 250%;
  color: #fff;
}
.banner-overlay h5 span {
  font-weight: 900;
  font-size: 60px;
}
.banner-overlay p {
  margin-top: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
}

.banner-overlay__red {
  background: rgba(200, 16, 46, 0.8);
}
.banner-overlay__red::after {
  background: rgba(200, 16, 46, 0.8);
}

.banner-overlay__blue {
  background: rgba(54, 138, 237, 0.8);
}
.banner-overlay__blue::after {
  background: rgba(54, 138, 237, 0.8);
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 250px;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

/* Стрелки */
.swiper-button-prev,
.swiper-button-next {
  background: rgba(0, 0, 0, 0.6);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px;
  color: #fff;
}

/*Секция фильтров*/
.btn-date-filter {
  background: #fff;
  border: none;
  border-radius: 30px;
  padding: 13px 16px;
  box-shadow: none;
  min-width: 172px;
  font-weight: 500;
  font-size: 14px;
  color: #8d8f92;
}
.btn-date-filter svg {
  margin-right: 10px;
}

.date-separator {
  display: inline-block;
  width: 36px;
  height: 0;
  border-top: 1px solid #8d8f92;
  margin: 0 10px;
}

.date-filter-menu {
  min-width: 280px;
}

.date-filter__picker {
  display: none;
  width: 100%;
  border-radius: 8px;
}

.search-filters {
  margin-top: -159px;
  position: relative;
}
.search-filters .custom-select {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.search-filters .custom-select .city-select {
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #393a3c;
  max-width: 180px;
  height: 50px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #edf0f6;
  border: none;
  border-radius: 20px 20px 0 0;
  padding-left: 56px;
  padding-right: 38px;
}
.search-filters .custom-select .city-select:focus {
  outline: none;
  box-shadow: none;
}
.search-filters .custom-select .quantity-select {
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  max-width: 180px;
  height: 50px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  padding: 16px 49px;
  box-shadow: none;
  min-width: 172px;
  color: #8d8f92;
}
.search-filters .custom-select .quantity-select svg {
  margin-right: 10px;
}
.search-filters .custom-select .quantity-select:focus {
  outline: none;
  box-shadow: none;
}
.search-filters .custom-select__icon {
  position: absolute;
  left: 20px;
  pointer-events: none;
}
.search-filters .custom-select__icon svg {
  width: 15px;
  height: auto;
}
.search-filters .custom-select__arrow {
  position: absolute;
  right: 19px;
  pointer-events: none;
}
.search-filters .custom-select__arrow svg {
  width: 9px;
  height: auto;
  transition: transform 0.3s ease;
}
.search-filters .custom-select:focus-within .custom-select__arrow svg {
  transform: rotate(180deg);
}
.search-filters .filter-item-quantity {
  margin-left: 19px;
}

.search-filters .city-select select {
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background: #edf0f6;
  border-radius: 20px 20px 0 0;
}

.filters-form {
  background: #edf0f6;
  border-radius: 0 20px 0 0;
  padding: 25px 40px 25px 19px;
}

.filter-item select,
.filter-item input {
  border: none;
  font-size: 14px;
  padding: 10px 15px;
  color: #555;
}

.filter-item select:focus,
.filter-item input:focus {
  outline: none;
  box-shadow: none;
}

.btn-danger {
  border: none;
  padding: 19px 29px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  background: #ec1213;
}

/*СЕКЦИЯ КАРТОЧЕК*/
.travel__title {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-weight: 600;
  font-size: 36px;
  color: #858d9d;
  margin-bottom: 39px;
  margin-top: 80px;
}

.travel-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}
.travel-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  transition: transform 0.3s ease;
}
.travel-card__label {
  position: absolute;
  bottom: 27px;
  left: 0px;
  right: 74px;
  border-radius: 0 20px 20px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  padding: 23px 0px 23px 30px;
  width: 100%;
  max-width: 75%;
}
.travel-card:hover {
  box-shadow: 0 0 20px rgba(0, 195, 255, 0.6);
}

.bg-red {
  background-color: #c8102e;
}

.bg-blue {
  background-color: #00bfff;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.bg-dark {
  background-color: #040a0d;
}

/*Секция comfort*/
.comfort {
  /*
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(100%);
    }
  */
}
.comfort__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #858d9d;
  margin-bottom: 39px;
}
.comfort .nav-pills .nav-link {
  border-radius: 20px 20px 0 0;
  background: rgba(237, 240, 246, 0.5);
  margin: 0 5px;
  font-weight: 700;
  font-size: 14px;
  color: #858d9d;
  padding: 14px 20px;
  margin: 0;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: rgba(41, 42, 47, 0.2);
}
.comfort .nav-pills .nav-link.active {
  background: #edf0f6;
  color: #858d9d;
  text-decoration: none;
}
.comfort .carousel-item {
  height: 100% !important;
  min-height: 420px;
}
.comfort .carousel-inner {
  border-radius: 0 0 0 20px;
}
.comfort .tab-content-text {
  padding: 113px 75px;
  background: #edf0f6;
  border-radius: 0 20px 20px 0;
}
.comfort .tab-content-text h3 {
  font-weight: 600;
  font-size: 32px;
  color: #858d9d;
  margin-bottom: 45px;
}
.comfort .tab-content-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #858d9d;
  margin-bottom: 0;
}
.comfort .carousel-inner img {
  object-fit: cover;
  height: 100%;
  min-height: 420px;
}
.comfort .carousel-control-next-icon {
  background-image: url("img/next.svg");
  background-size: 12px 12px;
}
.comfort .carousel-control-prev-icon {
  background-image: url("img/prev.svg");
  background-size: 12px 12px;
}
.comfort .carousel-control-next-icon, .comfort .carousel-control-prev-icon {
  border-radius: 50%;
  color: #fff;
  border: 1.5px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}
.comfort .carousel-control-prev {
  top: auto;
  left: 20px;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.7);
  width: 38px;
  border-radius: 50% 0 0 50%;
  height: 36px;
  opacity: 1;
}
.comfort .carousel-control-next {
  top: auto;
  left: 58px;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.7);
  width: 38px;
  border-radius: 0 50% 50% 0;
  height: 36px;
  opacity: 1;
}

/*Секция features*/
.features {
  padding-top: 80px;
  padding-bottom: 110px;
}
.features__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #858d9d;
  text-align: left;
}

.feature-item {
  text-align: center;
}
.feature-item__icon {
  width: 120px;
  height: 120px;
  margin-right: auto;
  margin-bottom: 33px;
  border-radius: 50%;
  background: #d3d9e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-item__icon svg {
  width: 40px;
  height: 40px;
}
.feature-item__text {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #858d9d;
  margin: 0;
}

/*Секция галереи*/
.form-select {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

/* Gallery specific styles */
.gallery-section {
  position: relative;
  border-radius: 20px;
  padding: 43px 60px;
  background: #edf0f6;
}
.gallery-section__title {
  font-weight: 600;
  font-size: 36px;
  color: #858d9d;
  margin-bottom: 50px;
}
.gallery-section .custom-select {
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.gallery-section .custom-select .city-select {
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #393a3c;
  max-width: 180px;
  height: 50px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  padding-left: 56px;
  padding-right: 38px;
}
.gallery-section .custom-select .city-select:focus {
  outline: none;
  box-shadow: none;
}
.gallery-section .custom-select .city-select2 {
  min-width: 180px;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #393a3c;
  max-width: 180px;
  height: 50px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  padding-left: 26px;
  padding-right: 38px;
}
.gallery-section .custom-select .city-select2:focus {
  outline: none;
  box-shadow: none;
}
.gallery-section .custom-select__icon {
  position: absolute;
  left: 20px;
  pointer-events: none;
}
.gallery-section .custom-select__icon svg {
  width: 15px;
  height: auto;
}
.gallery-section .custom-select__arrow {
  position: absolute;
  right: 19px;
  pointer-events: none;
}
.gallery-section .custom-select__arrow svg {
  width: 9px;
  height: auto;
  transition: transform 0.3s ease;
}
.gallery-section .custom-select:focus-within .custom-select__arrow svg {
  transform: rotate(180deg);
}

.gallery-images {
  display: flex;
  gap: 1rem;
}

.gallery-images .left-column {
  flex: 1;
}

.gallery-images .right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-column .bottom-row {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.gallery-item {
  position: relative;
  cursor: pointer;
}

.gallery-item img {
  border-radius: 20px;
  width: 100%;
}

.gallery-item .zoom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.2s;
}
.gallery-item .zoom-icon svg {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.gallery-item figcaption {
  width: 80%;
  border-radius: 0 0 0 20px;
  background: rgba(0, 0, 0, 0.6);
  padding: 21px;
}
.gallery-item figcaption h5 {
  font-weight: 900;
  font-size: 24px;
  line-height: 108%;
  color: #fff;
}
.gallery-item figcaption p {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
}

.gallery-item:hover .zoom-icon {
  opacity: 1;
}

/* Modal (lightbox) styles */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 0.25rem;
}

.modal-overlay .close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

/*секция attraction*/
.attractions {
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
}
.attractions .swiper-button-next-icon {
  background-image: url("img/next.svg");
  background-size: 20px 20px;
}
.attractions .swiper-button-prev-icon {
  background-image: url("img/prev.svg");
  background-size: 20px 20px;
}
.attractions .swiper-button-next-icon, .attractions .swiper-button-prev-icon {
  border-radius: 50%;
  color: #fff;
  border: 1.5px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}
.attractions .swiper-button-next:after, .attractions .swiper-button-prev:after {
  display: none;
}
.attractions .swiper-button-prev {
  top: auto;
  left: 0;
  bottom: 50%;
  background: rgba(0, 0, 0, 0.7);
  width: 100px;
  border-radius: 0 99px 99px 0;
  height: 80px;
  opacity: 1;
}
.attractions .swiper-button-next {
  top: auto;
  right: 0;
  bottom: 50%;
  background: rgba(0, 0, 0, 0.7);
  width: 100px;
  border-radius: 99px 0 0 99px;
  height: 80px;
  opacity: 1;
}

.section-title h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #858d9d;
  margin-bottom: 30px;
}

.swiper-slide {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.mySwiper {
  width: 100%;
  overflow: visible;
}

.mySwiper .swiper-slide {
  border-radius: 20px;
  width: 630px !important; /* фикс ширина отзыва (можешь подогнать под макет) */
}

@media (min-width: 992px) {
  .mySwiper {
    width: 100%;
    margin: 0 auto;
  }
}
.special-slide .overlay {
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 1;
}
.special-slide .slide-text {
  text-align: left;
  padding-left: 40px;
  padding-right: 100px;
  position: absolute;
  bottom: 27px;
  left: 0px;
  width: 100%;
  transition: transform 0.3s;
  z-index: 2;
}
.special-slide .slide-text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 92%;
  color: #fff;
}
.special-slide .slide-text p {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.special-slide .plan-trip-btn {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  padding: 15px 28px;
  border: none;
  border-radius: 20px;
  background: #ec1213;
  position: absolute;
  bottom: 30px;
  left: 0%;
  margin-left: 40px;
  transform: translateY(120%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  z-index: 2;
}
.special-slide:hover .overlay {
  opacity: 0.5;
}
.special-slide:hover .slide-text {
  transform: translateY(-60px);
}
.special-slide:hover .plan-trip-btn {
  transform: translateY(120%);
  opacity: 1;
}
.special-slide:hover .slide-text p {
  margin-bottom: 69px;
}

/*Секция about*/
.about {
  padding-top: 40px;
  padding-bottom: 80px;
}
.about__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #858d9d;
  margin-bottom: 39px;
}
.about__img {
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.about__content {
  background-color: #f1f4f9;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 75px 70px 85px;
}
.about__content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #050505;
  text-align: left;
}
.about__logo {
  margin-right: auto;
  margin-bottom: 32px;
  max-height: 115px;
  width: auto;
}

/*Секция  review-swiper*/
.reviews .swiper-button-next-icon {
  background-image: url("img/next.svg");
  background-size: 20px 20px;
}
.reviews .swiper-button-prev-icon {
  background-image: url("img/prev.svg");
  background-size: 20px 20px;
}
.reviews .swiper-button-next-icon, .reviews .swiper-button-prev-icon {
  border-radius: 50%;
  color: #fff;
  border: 1.5px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}
.reviews .swiper-button-next:after, .reviews .swiper-button-prev:after {
  display: none;
}
.reviews .swiper-button-prev {
  top: auto;
  left: 0;
  bottom: 50%;
  background: rgba(0, 0, 0, 0.7);
  width: 100px;
  border-radius: 0 99px 99px 0;
  height: 80px;
  opacity: 1;
}
.reviews .swiper-button-next {
  top: auto;
  right: 0;
  bottom: 50%;
  background: rgba(0, 0, 0, 0.7);
  width: 100px;
  border-radius: 99px 0 0 99px;
  height: 80px;
  opacity: 1;
}

.reviews-header {
  padding: 0 10px;
}

.reviews-title {
  font-weight: 600;
  font-size: 36px;
  color: #858d9d;
  margin-bottom: 39px;
}

.reviews-link {
  text-decoration: none;
  color: #161616;
}

.reviews-link-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #161616;
}

.review-swiper {
  width: 100%; /* контейнер растягивается на всю ширину родителя */
  padding: 20px 0; /* отступы сверху и снизу для пространства вокруг слайдера */
}

.review-swiper {
  width: 100%;
  padding: 40px 0; /* чтобы стрелки не наезжали */
}

.review-swiper .swiper-slide {
  width: 630px !important; /* фикс ширина отзыва (можешь подогнать под макет) */
}

/* Стили карточки отзыва */
.review-card {
  background: #edf0f6;
  border-radius: 20px;
  padding: 35px;
  min-height: 430px;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.review-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.review-author {
  margin-left: 20px;
}

.review-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #050505;
}

.review-rating {
  color: #FFC74D; /* золотистый цвет для звезд рейтинга */
  font-size: 0.9em;
  margin-top: 6px;
}

.review-content {
  margin-top: 35px;
  background: #fff;
  border-radius: 20px;
  padding: 27px 35px;
}

.review-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #050505;
  margin-bottom: 20px;
}

.review-text {
  font-weight: 400;
  font-size: 14px;
  color: #050505;
}

/*Contact*/
.contact {
  padding-top: 80px;
  margin-bottom: -203px;
  position: relative;
  z-index: 2;
}
.contact__title {
  font-weight: 600;
  font-size: 36px;
  color: #858d9d;
  margin-bottom: 39px;
}
.contact__form-wrapper {
  padding: 50px 40px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 10px 23px 0 rgba(0, 0, 0, 0.1), 0 41px 41px 0 rgba(0, 0, 0, 0.09), 0 92px 55px 0 rgba(0, 0, 0, 0.05), 0 164px 66px 0 rgba(0, 0, 0, 0.01), 0 257px 72px 0 rgba(0, 0, 0, 0);
}
.contact .form-floating label {
  color: rgba(41, 47, 56, 0.7);
  font-weight: 400;
  font-size: 16px;
}
.contact .form-control {
  border-radius: 6px;
  padding: 20px;
  border: 1px solid #ebebeb;
  color: #292a2f;
  font-weight: 400;
  font-size: 16px;
  color: rgba(41, 47, 56, 0.7);
}
.contact .form-control:focus {
  box-shadow: none;
}
.contact textarea.form-control {
  resize: none;
}
.contact__btn {
  border-radius: 20px;
  background: #ec1213;
  border: none;
  padding: 16px 64px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin-right: 23px;
}
.contact__btn:hover {
  background: #c60f10;
}

/*Map*/
.map-container {
  position: relative;
  width: 100%;
  height: 600px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(100%);
}

.marker {
  position: absolute;
  transform: translate(-50%, -100%);
  width: 40px;
  cursor: pointer;
}

/*Footer*/
.footer__logo {
  margin-right: 78px;
}
.footer__logo img {
  height: 78px;
}
.footer__nav a {
  text-decoration: none !important;
  font-weight: 600;
  font-size: 20px;
  color: #858d9d;
}
.footer__nav a:hover {
  color: #ec1213 !important;
}
.footer__link {
  margin-right: 50px;
}
.footer .social-links {
  gap: 10px;
}
.footer .social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #edf0f6;
  text-decoration: none;
  cursor: pointer;
}
.footer .social-link .icon {
  transition: 0.3s;
}
.footer .social-link .icon .bg {
  transition: fill 0.3s;
}
.footer .social-link .icon .arrow {
  transition: fill 0.3s;
}
.footer .social-link:hover .bg {
  fill: #EC1213;
}
.footer .social-link:hover .arrow {
  fill: #fff;
}
.footer__bottom {
  font-size: 14px;
  color: #adb5bd;
}
.footer__policy {
  color: #adb5bd;
  text-decoration: none;
}
.footer__policy:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
